$bg-dark: hsl(306, 0%, 10%);

$themes: (
    dark: (
        bg: $bg-dark,
        bg-light: adjust-color($color: $bg-dark, $lightness: 5%),
        bg-lighter: adjust-color($color: $bg-dark, $lightness: 5%, $alpha: -0.1),
        text: white,
        theme: #EFA51C, // Header
        filter-bg: adjust-color($color: $bg-dark, $lightness: 7%),
        select-bg: hsl(0, 0%, 27%),
        input-bg: rgb(0, 0, 0, 0.132),
        primary: hsl(0, 0%, 37%),
    ),
);

@mixin themed() {
    @each $theme, $map in $themes {
        .theme-#{$theme} &,
        &.theme-#{$theme} {
            $theme-map: () !global;

            @each $key, $value in $map {
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            // theme-map has a value when content has acces to it.
            // This means the t function can access theme-map and
            // return the correct value for the specified key.
            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key) {
    @return map-get($theme-map, $key);
}