$tier-colors: (
    "0": #360432,
    "1": #DDDFEE,
    "2": #D5D3E9,
    "3": #D3CBE7,
    "4": #D3C3E4,
    "5": #D4BBE2,
    "6": #D5B0DE,
    "7": #DBA7DC,
    "8": #DB9FD1,
    "9": #D991C1,
    "10": #DA86B0,
    "11": #DB7698,
    "12": #DC6A7D,
    "13": #DD5A5A,
    "14": #DC514C,
    "15": #DA493E,
    "16": #DA4534,
    "17": #D93E26,
    "18": #DC3F23,
    "19": #C03A1B,
    "20": #B23415,
    "21": #A23010,
    "22": #9B2B0C,
    "23": #932B0B,
    "24": #892608,
    "25": #832607,
    "26": #752105,
    "27": #6C1E04,
    "28": #601A02,
    "29": #5A1802,
    "30": #511700,
    "31": #491900,
    "32": #3F1A00,
    "33": #331700,
    "34": #231300,
    "35": #110A00
);
@each $name, $color in $tier-colors {  // Create class definitions
    .tier-#{$name} {
        background-color: $color;
    }
}

.tier-1, .tier-2, .tier-3, .tier-4, .tier-5,
.tier-6, .tier-7, .tier-8, .tier-9, .tier-10,
.tier-11, .tier-12, .tier-13, .tier-14, .tier-15 {
    color: black;
}

$enjoyment-colors: (
    "0": #E67C73,
    "1": #EA8B71,
    "2": #EE9A6D,
    "3": #F2A96D,
    "4": #F6B86B,
    "5": #FAC769,
    "6": #FFD666,
    "7": #D5D06F,
    "8": #ABC978,
    "9": #81C281,
    "10": #57BB8A
);
@each $name, $color in $enjoyment-colors {  // Create class definitions
    .enj-#{$name} {
        background-color: $color;
    }
}
   
$refresh-colors: (
    "72": #FF9900,
    "120": #FFFF00,
    "144": #00FF00,
    "240": #00FFFF,
    "288": #FF00FF,
    "300": #000000
);
@each $name, $color in $refresh-colors {  // Create class definitions
    .ref-#{$name} {
    background-color: $color;
    }
}

$theme: #EFA51C;
$background: #1a0505;
$background-light: #280808;
$active: rgb(171, 171, 171);
$primary: #b63a3a;
$header: #673c3c44;
$transparent: #ffffff00;

$filter-bg: #3b1118;
$input-bg: rgba(0, 0, 0, 0.132);
$select-bg: rgb(95, 28, 28);

$save: #25d525;
$save-hover: adjust-color($save, $lightness: -10%);
$save-active: adjust-color($save-hover, $lightness: -10%);
$save-disabled: adjust-color($save-hover,  $saturation: -100%);