$tier-0: #360432;
$tier-1: #DDDFEE;
$tier-2: #D5D3E9;
$tier-3: #D3CBE7;
$tier-4: #D3C3E4;
$tier-5: #D4BBE2;
$tier-6: #D5B0DE;
$tier-7: #DBA7DC;
$tier-8: #DB9FD1;
$tier-9: #D991C1;
$tier-10: #DA86B0;
$tier-11: #DB7698;
$tier-12: #DC6A7D;
$tier-13: #DD5A5A;
$tier-14: #DC514C;
$tier-15: #DA493E;
$tier-16: #DA4534;
$tier-17: #D93E26;
$tier-18: #DC3F23;
$tier-19: #C03A1B;
$tier-20: #B23415;
$tier-21: #A23010;
$tier-22: #9B2B0C;
$tier-23: #932B0B;
$tier-24: #892608;
$tier-25: #832607;
$tier-26: #752105;
$tier-27: #6C1E04;
$tier-28: #601A02;
$tier-29: #5A1802;
$tier-30: #511700;
$tier-31: #491900;
$tier-32: #3F1A00;
$tier-33: #331700;
$tier-34: #231300;
$tier-35: #110A00;

$enj-0: #E67C73;
$enj-1: #EA8B71;
$enj-2: #EE9A6D;
$enj-3: #F2A96D;
$enj-4: #F6B86B;
$enj-5: #FAC769;
$enj-6: #FFD666;
$enj-7: #D5D06F;
$enj-8: #ABC978;
$enj-9: #81C281;
$enj-10: #57BB8A;

$ref-72: #FF9900;
$ref-120: #FFFF00;
$ref-144: #00FF00;
$ref-240: #00FFFF;
$ref-288: #FF00FF;
$ref-300: #000000;

$theme: #EFA51C;
$background: #1a0505;
$background-light: #280808;
$active: rgb(197, 197, 197);
$primary: #b63a3a;
$middle: #3f6e52;
$header: #673c3c44;
$transparent: #ffffff00;

$filter-bg: #3b1118;
$input-bg: rgba(0, 0, 0, 0.132);
$select-bg: rgb(95, 28, 28);


.bg-middle {
    background-color: $middle;
}