@use 'Colors';
@use 'themes';

//Re-adjusts bootstrap container width so it's thinner across all breakpoints.

.container {
    width: 100%;
    padding: 30px 40px;
    margin-bottom: 5rem;
    
    @include themes.themed() {
        background-color: themes.t('bg-light');
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}