@use 'Colors';

//Re-adjusts bootstrap container width so it's thinner across all breakpoints.

.container {
    width: 100%;
    background-color: Colors.$background-light;
    padding: 30px 40px;
    margin-bottom: 5rem;
}

.root .container {
    background-color: adjust-color(Colors.$background-light, $alpha: -0.1);
}

@media (min-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}