@use 'Colors';

#filter-menu {
    background-color: Colors.$filter-bg;
    margin-bottom: 1.5rem;
    transition: height 0.4s cubic-bezier(0.56, 0.06, 0.04, 0.98);
    overflow: hidden;

    .content {
        padding: 1rem;
    }
}