@use 'Colors';
@use 'Utils';

.filterMenuWrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 400ms;

    &.show {
        grid-template-rows: 1fr;
    }
}

.filterMenu {
    background-color: Colors.$filter-bg;
    min-height: 0;

    > .content {
        padding: 1rem;
    }
}

button.open-extended {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    background: none;
    outline: none;
    
    @include Utils.underline;
}

.extendedFilterMenuWrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.4s cubic-bezier(0.56, 0.06, 0.04, 0.98);

    &.show {
        grid-template-rows: 1fr;
    }
}

.extendedFilterMenu {
    min-height: 0;
}

.openSpinner {
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    margin-left: 0.4rem;

    &.spin {
        transform: rotate(180deg);
    }
}