@use 'Colors';

#filter-menu {
    background-color: Colors.$filter-bg;
    margin-bottom: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.56, 0.06, 0.04, 0.98);

    > .content {
        padding: 1rem;
    }
}

button.open-extended {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
    color: white;
    transition: border 0.2s ease-in-out;

    &:hover {
        border-bottom: 1px solid white;
    }
}

#extended-filters-menu {
    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s cubic-bezier(0.56, 0.06, 0.04, 0.98);
    }

    .open-spinner {
        display: inline-block;
        transition: transform 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        margin-left: 0.4rem;

        &.spin {
            transform: rotate(180deg);
        }
    }
}