@use 'Colors';

.bg-gddl {
    background-color: Colors.$background;
}

.topnav {
    overflow: hidden;
    list-style-type: none;
    display: flex;

    a {
        float: left;
        display: block;
        border: none;
        border-radius: 0;
    }
    
    .icon {
        display: none;
        background: none;
        border: none;
    }
}

.title {
    font-weight: bolder;
    font-size: 1.75rem;
    text-decoration: none;
    color: currentColor;
}

.navbar {
    background: Colors.$header;
    color: black;
}

button.navbar-toggler {
    &:focus {
        box-shadow: none;
    }
}
.navbar-toggler-icon {
    filter: invert(100%);
    color: white;
}