@use 'Colors';

.bg-gddl {
    background-color: Colors.$background;
}

.topnav {
    overflow: hidden;
    list-style-type: none;
    display: flex;

    a {
        float: left;
        display: block;
        border: none;
        border-radius: 0;
    }
    
    .icon {
        display: none;
        background: none;
        border: none;
    }
}

.title {
    font-weight: bolder;
    font-size: 1.75rem;
}

.navbar {
    background: linear-gradient(Colors.$header, Colors.$transparent);
}

.icon {
    .white {
        filter: invert(100%);
    }
}