@use 'Colors';
@use 'themes';

.bg-gddl {
    @include themes.themed() {
        background-color: themes.t('bg');
    }
}

.topnav {
    overflow: hidden;
    list-style-type: none;
    display: flex;

    a {
        float: left;
        display: block;
        border: none;
        border-radius: 0;
    }
    
    .icon {
        display: none;
        background: none;
        border: none;
    }
}

.title {
    font-weight: bolder;
    font-size: 1.75rem;
    text-decoration: none;
    color: currentColor;
}

.navbar {
    color: black;
    
    @include themes.themed() {
        background: themes.t('theme');
    }
}

button.navbar-toggler {
    &:focus {
        box-shadow: none;
    }
}
.navbar-toggler-icon {
    filter: invert(100%);
    color: white;
}