@use 'Colors';

input:not([type="radio"]):not([type="checkbox"]),
.style-input,
select {
    outline: none;
    background: Colors.$input-bg;
    color: white;
    border: none;
    caret-color: white;
    transition: ease-in-out;
    transition-duration: 200ms;
    border-bottom: 2px solid white;
    border-radius: 0;
    height: 28px;
    min-width: 0;
    display: block;
    width: 100%;
    padding-left: 0.4rem;
}

input[type=text],
input[type=number] {
    background: rgba(0, 0, 0, 0.132);
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    color: white;

    &:focus {
        background: rgba(0, 0, 0, 0.295);
        box-shadow: 0 0 30px 5px adjust-color($color: Colors.$primary, $alpha: -0.8);
    }
}

$disabled-col:rgb(0, 0, 0)!important;
label.disabled {
    color: $disabled-col;
    text-decoration: line-through;
}
input:disabled {
    color: $disabled-col;
}

input[type=checkbox],
input[type=radio] {
    appearance: none;
    margin: 0;

    color: currentColor;
    width: 1.1rem;
    height: 1.1rem;
    border: 1px solid currentColor;

    display: grid;
    place-content: center;

    &:checked::before {
        transform: scale(1);
    }

    &::before {
        content: '';
        width: 0.625em;
        height: 0.625em;
        transform: scale(0);

        transition: 120ms transform ease-in-out;
        box-shadow: inset 1rem 1rem currentColor;
    }
}

.custom-select {
    cursor: pointer;
    position: relative;
    margin: 0;
    user-select: none;
    position: absolute;
    width: 145px;

    .select-wrapper {
        position: fixed;
    }

    .selectOptionsWrapper {
        position: absolute;
        top: 28px;
        left: 0;
        overflow: hidden;

        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 200ms ease-in-out;
        overflow: hidden;
        &.show {
            grid-template-rows: 1fr;
        }

        .selectOptions {
            min-height: 0;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.377);

            & > p {
                margin: 0;
                padding: 0.125rem 0.5rem;
                background: Colors.$select-bg;
                transition: filter 200ms;
    
                &:hover {
                    filter: brightness(90%);
                    cursor: pointer;
                }
            }
        }
    }
}

button {
    outline: none;
}

input.num-sm {
    max-width: 50px;
    width: 50px;
}

input.num-lg {
    min-width: 50px;
}

textarea {
    background: transparent;
    color: currentColor;
    border: none;
    border-bottom: 1px solid white;
    resize: none;
}