@use 'Utils';

.level-overview {
    .creator {
        @include Utils.underline();
    }

    .table-container {
        margin-top: 1.5rem;
        padding: 1rem;
        background-color: rgb(0, 0, 0, 0.3);
        font-size: 1.5rem;
    }
}