@use 'Colors';
@use 'Utils';

.level-list {
    p, h4 {
        margin: 0;
    }

    .level:not(.grid) {
        display: flex;
    }

    .level.list {
        padding: 0;

        a {
            color: white;
            @include Utils.underline;
        }

        button.id-button {
            color: white;
            @include Utils.underline;
            border: none;
            width: 100%;
        }
    
        h3 {
            font-weight: 350;
        }
    }

    .level.list:nth-child(2n) {
        background-color: rgba(255, 255, 255, 0.07);
    }

    .level.grid {
        margin-bottom: 0.5rem;
        padding: 0.25rem 3px 0.25rem 1rem;
        cursor: pointer;

        img {
            max-width: 96px;
            align-self: center;
        }

        .info {
            width: fit-content;
            flex-grow: 1;

            .created-by {
                word-break: break-all;
            }
        }
    }
    
    .level.head {
        border-top: none;
        border-bottom: solid;
    }
}

.style-link {
    background: none;
    text-decoration: none;
    font-size: 1rem!important;
    border: none;
    color: white;
}

.style-link:hover {
    text-decoration: underline;
    color: white;
}