@use 'Colors';
@use 'Utils';

#level-list {
    p, h4 {
        margin: 0;
    }

    .level:not(.grid) {
        display: flex;
    }

    .level.list {
        border-bottom: 1px #998888 solid;
        padding: 0;

        a {
            color: white;
            @include Utils.underline();
        }

        button.id-button {
            color: white;
            @include Utils.underline();
            border: none;
            width: 100%;
            //text-align: start;
        }
    
        h3 {
            font-weight: 350;
        }
    }

    .level.grid {
        margin: 0.5rem;
        padding: 0.25rem 1rem;
        border-radius: 10px;

        img {
            width: 128px;
            height: 128px;
            align-self: center;
        }

        .info {
            width: fit-content;
        }

        transition-duration: 200ms;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
    
    .level.head {
        border-top: none;
        border-bottom: solid;
    }
}

.style-link {
    background: none;
    text-decoration: none;
    font-size: 1rem!important;
    border: none;
    color: white;
}

.style-link:hover {
    text-decoration: underline;
    color: white;
}