@use 'Colors.scss';

#level-list {
    .level.list {
        border: 1px #998888 solid;
        border-bottom: none;
        border-right: none;
        border-left: none;
        padding: 0;
    
        h3 {
            font-weight: 350;
        }
    }

    .level.grid {
        margin: 0.5rem;
        padding: 0.25rem 1rem;
        border-radius: 10px;

        img {
            width: 128px;
            height: 128px;
            align-self: center;
        }

        .info {
            width: fit-content;
        }

        transition-duration: 200ms;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
    
    .level.head {
        border-top: none;
        border-bottom: solid;
    }
}

.style-link {
    background: none;
    text-decoration: none;
    font-size: 1rem!important;
    border: none;
    color: white;
}

.style-link:hover {
    text-decoration: underline;
    color: white;
}