@use 'Colors';
@use 'SortMenu';

$button-radius: 10px;

button.list {
    color: rgb(43, 43, 43);
    background-color: Colors.$active;
    padding: 0.4rem 0.6rem;
}

button.list.active {
    color: currentColor;
    background-color: adjust-color(Colors.$active, $lightness: -80%);
    border: none;
}

.list-options .btn {
    border-radius: 10px;
}

.page-scroller {
    background: none;
    color: white;
    border: 2px solid white;
    flex-grow: 1;
    transition: transform 0.1s ease-in-out;
    align-items: center;
    padding: 0.6rem 2rem;

    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(1.15);
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

::placeholder,
::-ms-input-placeholder {
    color: green;
    opacity: 0;
}