@use 'Colors';
@use 'SortMenu';

$button-radius: 10px;

button.list {
    border: 1px solid buttonface;
    padding: 0.4rem 0.6rem;
}

button.list.active {
    background-color: Colors.$active;
    border-color: Colors.$active;
}

.list-options .btn {
    border-radius: 10px;
}

.page-scroller {
    background: none;
    color: white;
    border: 2px solid white;
    //border-radius: 10px;
    flex-grow: 1;
    transition-duration: 0.1s;
    align-items: center;
    padding: 0.6rem 2rem;

    img {
        filter: invert(100%) brightness(100%);  // Makes the arrows white
    }
}

.page-scroller:hover {
    transform: scale(1.1);
}
.page-scroller:active {
    transform: scale(1.15);
}

ul {
    list-style-type: none;
    padding: 0;
}

::placeholder,
::-ms-input-placeholder {
    color: green;
    opacity: 0;
}

.search {
    gap: 0.5rem;

    > * {
        margin: 0!important;
    }

    button {
        box-sizing: border-box;
        padding: 0;
        height: 40px!important;
        padding-left: 10px!important;
        padding-right: 10px!important;
        border-radius: 0;
    }

    .list {
        padding-left: 10px!important;
        padding-right: 10px!important;
        border-radius: 0;
    }

    .search-bar {
        flex-grow: 1;
        margin: 0.5rem;
        position: relative;
        
        .clear-search {
            position: absolute;
            right: 0;
            top: -6px;
            background: none;
            border: none;
            color: white;
            opacity: 0;

        }

        &:hover .clear-search {
            opacity: 1;
        }
    }
}