@use 'Utils';

.log-in {
    color: currentColor;
    text-decoration: none;
    background-color: white;
    padding: 0.25rem 0.5rem;
}

.signUp {
    color: currentColor;
    @include Utils.underline;
}