@use 'Colors';
@use 'themes';

#mod-menu {
    a {
        padding: 1rem;
        text-decoration: none;
        transition: background-color 200ms ease-in-out;
        color: white;

        @include themes.themed() {
            background-color: themes.t('filter-bg');
        }

        &.active {
            @include themes.themed() {
                background-color: themes.t('primary');
            }
        }
    }
}

#submissionList {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;

    .submission {
        display: flex;
        align-items: center;

        & * {
            width: 15%;
            text-align: center;
            margin: 0;
            padding: 0.4rem 0.5rem;
        }

        .username {
            background-color: #4d4d4d;
            flex-grow: 1;
        }
    }
}