@use 'Colors';
@use 'themes';

#mod-menu {
    a {
        padding: 1rem;
        text-decoration: none;
        transition: background-color 200ms ease-in-out;
        color: white;

        @include themes.themed() {
            background-color: themes.t('filter-bg');
        }

        &.active {
            @include themes.themed() {
                background-color: themes.t('primary');
            }
        }
    }
}

#edit-references {
    .control {
        display: flex;
        justify-content: space-between;

        button.save {
            border: none;
            background: Colors.$save;
            opacity: 0;
            font-weight: bold;
            padding: 0.25rem 0.5rem;

            &:hover {
                background: Colors.$save-hover;
            }

            &:active {
                background: Colors.$save-active;
            }

            &.show {
                opacity: 1;
            }

            &:disabled {
                background: Colors.$save-disabled;
            }
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-bottom: 2rem;

        .reference {
            display: flex;
            justify-content: space-between;

            > div {
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }

            h4, p {
                margin: 0;
            }
        }
    }
}

#submissionList {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;

    .submission {
        display: flex;
        align-items: center;

        & * {
            width: 15%;
            text-align: center;
            margin: 0;
            padding: 0.4rem 0.5rem;
        }

        .username {
            background-color: #4d4d4d;
            flex-grow: 1;
        }
    }
}