.cmodal {
    z-index: 500;

    .content {
        z-index: 505;

        > * {
            padding: 1.5rem 1.5rem;
        }

        .header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;
        }

        .body {
            border-bottom: 1px solid white;
        }
    }
}