$modal: hsl(0, 0%, 35%);

.cmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 500;
    transition: background-color 300ms ease-in-out;

    &.show {
        background: hsla(0, 0%, 0%, 0.389);
        pointer-events: all;

        .content {
            opacity: 1;
            transform: translateX(-50%) translateY(50px);
        }
    }

    .content {
        max-width: 500px;
        width: 100%;
        position: absolute;
        z-index: 505;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;

        background: $modal;

        > * {
            padding: 1.5rem 1.5rem;
        }

        .header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;
        }

        .body {
            border-bottom: 1px solid white;
        }
    }
}