@use 'Utils';
@use 'Colors';

.pfp {
    width: 48px;
    border-radius: 50%;
}

.style-none {
    background-color: none;
    border: none;
}

.search-result {
    position: absolute;
    background-color: Colors.$select-bg;
    //color: white;
    padding: 0.5rem 0;

    .result {
        padding: 0.25rem 1rem;
        transition: background-color 200ms ease-in-out;
        
        &:hover {
            background-color: Colors.$filter-bg;
            cursor: pointer;
        }
    }
}

.profile {
    .navbar & {
        color: white;
        text-decoration: none;
        > span {
            @include Utils.underline();
        }
    }

    .information {
        display: flex;

        .introduction {
            background: rgb(32, 32, 32);
            padding: 1rem;
            min-width: 25%;
        }

        .trackers {
            background: rgb(46, 46, 46);
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
            flex-grow: 1;

            .tracker {
                display: flex;
                justify-content: space-between;

                * {
                    margin: 0;
                }

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .ratings {
        .row {
            border-bottom: 1px solid #998888;

            h3, p {
                margin: 0;
                justify-self: center;
            }
    
            p {
                margin: 0;
            }
    
            .level-name {
                justify-self: start;
            }
    
            .enjoyment, .rating, .user-rating, .creator {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    @media(max-width: 550px) {
        .information {
            flex-direction: column;
        }
    }
}