.pfp {
    width: 48px;
    border-radius: 50%;
}

.style-none {
    background-color: none;
    border: none;
}

.search-result {
    position: absolute;
    z-index: 100;
    background-color: white;
    color: black;
    padding: 0.5rem 0;
    border-radius: 12px;

    .result {
        padding: 0.25rem 1rem;
    }
    .result:hover {
        background-color: rgb(221, 221, 221);
        cursor: pointer;
    }
}

.profile {
    .information {
        display: flex;

        .introduction {
            background: rgb(32, 32, 32);
            padding: 1rem;
            min-width: 25%;
            border-radius: 8px 0 0 8px;
        }

        .trackers {
            background: rgb(46, 46, 46);
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
            flex-grow: 1;
            border-radius: 0 8px 8px 0;

            .tracker {
                display: flex;
                justify-content: space-between;

                * {
                    margin: 0;
                }

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    @media(max-width: 550px) {
        .information {
            flex-direction: column;

            .introduction {
                border-radius: 8px 8px 0 0;
            }

            .trackers {
                border-radius: 0 0 8px 8px;
            }
        }
    }
}