@use 'Colors.scss';

@media(max-width: 700px) {
    .references {
        flex-direction: column;
    }
}

.ref-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

.tier-container {
    border-style: solid none none none;
    border-color: black;
    border-width: 1px;
    border-left: 0;
    min-height: 140px;

    a {
        color: white;
        text-decoration: none;
    }
}

.tier-label p {
    min-width: 80px;
}

.levels {
    color: white;
    min-width: 230px;
    min-height: 120px;

    .level-label {
        height: 1.5rem;
    }
}