@use 'themes';

a.nav {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    padding: 0.15rem;
}

#root {
    min-height: 100vh;
}

.index .container {
    @include themes.themed() {
        background-color: themes.t('bg-lighter');
    }
}