.navbar-nav a,
.navbar-collapse a,
.level * a,
div.level-overview a {
    color: white;
    background-color: rgb(0, 0, 0, 0);
    border: 0;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 0.2s;
}

a.nav {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    padding: 0.15rem;
}

a:hover {
    /*background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);*/
    text-decoration: underline;
}

#root {
    min-height: 100vh;
}