@use 'Colors';

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #202020;
}

::-webkit-scrollbar-thumb {
    background-color: Colors.$primary;
}

