@use 'Colors';

.sortMenuWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 200ms cubic-bezier(0.56, 0.06, 0.04, 0.98);

    &.show {
        grid-template-rows: 1fr;
    }
}

.sortMenu {
    background-color: Colors.$select-bg;
    min-height: 0;

    width: max-content;
    
    .menuPadding {
        padding: 0.75rem 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .direction {
        display: flex;

        > div {
            max-width: 50%;
            flex-grow: 1;
        }
    }

    .divider {
        height: 1px;
        background-color: rgba(255, 255, 255, 0.175);
        opacity: 1;
    }

    label {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        user-select: none;

        &:hover,
        * {
            cursor: pointer;
        }
    }

    .sort-by-options {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}