@use 'Colors';
@use 'Container';
@use 'Header';
@use 'Padding';
@use 'ListLevel';
@use 'List';
@use 'FilterMenu';
@use 'References';
@use 'Profile';
@use 'Root';
@use 'LevelOverview';
@use 'Login';
@use 'Scrollbar';
@use 'PackRef';
@use 'Utils';
@use 'Input';
@use 'Mod';
@use 'Modal';
@use 'Tabs';

body {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: Colors.$background;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.a {
    border-radius: 13px;
    font-weight: 500;
    border: none;
    padding: 0.25rem 0.5rem;
    background-color: white;
    color: black;
}

.navbar-toggler {  // Removes the stupid 1px border around the navbar toggler
    border: none;
}

.nav-link.active {
    font-weight: bold;
}

.bg {
    position: absolute;
    z-index: -10;
    width: 100%;
    top: 1.5rem;

    img {
        width: 100%;
        height: 30em;
        object-fit: cover;
        filter: brightness(50%);
    }
}