.bg-middle {
  background-color: #3f6e52;
}

.container {
  width: 100%;
  background-color: #280808;
  padding: 30px 40px;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
.bg-gddl {
  background-color: #1a0505;
}

.topnav {
  overflow: hidden;
  list-style-type: none;
  display: flex;
}
.topnav a {
  float: left;
  display: block;
  border: none;
  border-radius: 0;
}
.topnav .icon {
  display: none;
  background: none;
  border: none;
}

.title {
  font-weight: bolder;
  font-size: 1.75rem;
}

.navbar {
  background: linear-gradient(rgba(103, 60, 60, 0.2666666667), rgba(255, 255, 255, 0));
}

button.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  filter: invert(100%);
  color: white;
}

#level-list .level.list {
  border: 1px #998888 solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  padding: 0;
}
#level-list .level.list h3 {
  font-weight: 350;
}
#level-list .level.grid {
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 10px;
  transition-duration: 200ms;
}
#level-list .level.grid img {
  width: 128px;
  height: 128px;
  align-self: center;
}
#level-list .level.grid .info {
  width: fit-content;
}
#level-list .level.grid:hover {
  cursor: pointer;
  transform: scale(1.05);
}
#level-list .level.head {
  border-top: none;
  border-bottom: solid;
}

.style-link {
  background: none;
  text-decoration: none;
  font-size: 1rem !important;
  border: none;
  color: white;
}

.style-link:hover {
  text-decoration: underline;
  color: white;
}

#sort-menu {
  position: absolute;
  background-color: rgb(95, 28, 28);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 0;
  transition: max-height 200ms cubic-bezier(0.56, 0.06, 0.04, 0.98);
  overflow: hidden;
}
#sort-menu > .content {
  padding: 0.75rem 0.75rem;
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 0.5rem;
}
#sort-menu > .content .direction {
  display: flex;
}
#sort-menu > .content .direction > div {
  max-width: 50%;
  flex-grow: 1;
}
#sort-menu > .content .divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.175);
  opacity: 1;
}
#sort-menu > .content label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  user-select: none;
}
#sort-menu > .content label:hover,
#sort-menu > .content label * {
  cursor: pointer;
}
#sort-menu > .content .sort-by-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button.list {
  border: 1px solid buttonface;
  padding: 0.4rem 0.6rem;
}

button.list.active {
  background-color: rgb(197, 197, 197);
  border-color: rgb(197, 197, 197);
}

.list-options .btn {
  border-radius: 10px;
}

.page-scroller {
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  transition-duration: 0.1s;
  align-items: center;
  padding: 0.6rem 2rem;
}
.page-scroller img {
  filter: invert(100%) brightness(100%);
}

.page-scroller:hover {
  transform: scale(1.1);
}

.page-scroller:active {
  transform: scale(1.15);
}

ul {
  list-style-type: none;
  padding: 0;
}

::placeholder,
::-ms-input-placeholder {
  color: green;
  opacity: 0;
}

.search {
  gap: 0.5rem;
}
.search > * {
  margin: 0 !important;
}
.search button {
  box-sizing: border-box;
  padding: 0;
  height: 40px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 0;
}
.search .list {
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 0;
}

#filter-menu {
  background-color: #3b1118;
  margin-bottom: 1.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.56, 0.06, 0.04, 0.98);
}
#filter-menu > .content {
  padding: 1rem;
}

button.open-extended {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
  color: white;
  transition: border 0.2s ease-in-out;
}
button.open-extended:hover {
  border-bottom: 1px solid white;
}

input.num-sm {
  max-width: 50px;
}

input.num-lg {
  min-width: 50px;
}

#extended-filters-menu .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.56, 0.06, 0.04, 0.98);
}
#extended-filters-menu .open-spinner {
  display: inline-block;
  transition: transform 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  margin-left: 0.4rem;
}
#extended-filters-menu .open-spinner.spin {
  transform: rotate(180deg);
}

.ref-container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  --head-radius: 15px;
}

.tier-container {
  border-style: solid none none none;
  border-color: black;
  border-width: 1px;
  border-left: 0;
}

.tier-0 {
  background-color: #360432;
}

.tier-1 {
  background-color: #DDDFEE;
}

.tier-2 {
  background-color: #D5D3E9;
}

.tier-3 {
  background-color: #D3CBE7;
}

.tier-3.head {
  border-top-left-radius: var(--head-radius);
}

.tier-4 {
  background-color: #D3C3E4;
}

.tier-5 {
  background-color: #D4BBE2;
}

.tier-6 {
  background-color: #D5B0DE;
}

.tier-7 {
  background-color: #DBA7DC;
}

.tier-8 {
  background-color: #DB9FD1;
}

.tier-9 {
  background-color: #DB9FD1;
}

.tier-10 {
  background-color: #DA86B0;
}

.tier-11 {
  background-color: #DB7698;
}

.tier-12 {
  background-color: #DC6A7D;
}

.tier-13 {
  background-color: #DD5A5A;
}

.tier-14 {
  background-color: #DC514C;
}

.tier-15 {
  background-color: #DA493E;
}

.tier-1, .tier-2, .tier-3, .tier-4, .tier-5,
.tier-6, .tier-7, .tier-8, .tier-9, .tier-10,
.tier-11, .tier-12, .tier-13, .tier-14, .tier-15 {
  color: black;
}

.tier-16 {
  background-color: #DA4534;
}

.tier-17 {
  background-color: #D93E26;
}

.tier-18 {
  background-color: #DC3F23;
}

.tier-19 {
  background-color: #C03A1B;
}

.tier-20 {
  background-color: #B23415;
}

.tier-21 {
  background-color: #A23010;
}

.tier-22 {
  background-color: #9B2B0C;
}

.tier-23 {
  background-color: #932B0B;
}

.tier-24 {
  background-color: #892608;
}

.tier-25 {
  background-color: #832607;
}

.tier-26 {
  background-color: #752105;
}

.tier-27 {
  background-color: #6C1E04;
}

.tier-28 {
  background-color: #601A02;
}

.tier-28.head {
  border-top-right-radius: var(--head-radius);
}

.tier-29 {
  background-color: #5A1802;
}

.tier-30 {
  background-color: #511700;
}

.tier-31 {
  background-color: #491900;
}

.tier-32 {
  background-color: #3F1A00;
}

.tier-33 {
  background-color: #331700;
}

.tier-34 {
  background-color: #231300;
}

.tier-35 {
  background-color: #110A00;
}

.tier-label p {
  min-width: 80px;
}

.levels {
  color: white;
  min-width: 230px;
}
.levels .level-label {
  height: 1.5rem;
}

.pfp {
  width: 48px;
  border-radius: 50%;
}

.style-none {
  background-color: none;
  border: none;
}

.search-result {
  position: absolute;
  z-index: 100;
  background-color: white;
  color: black;
  padding: 0.5rem 0;
  border-radius: 12px;
}
.search-result .result {
  padding: 0.25rem 1rem;
}
.search-result .result:hover {
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}

.profile .information {
  display: flex;
}
.profile .information .introduction {
  background: rgb(32, 32, 32);
  padding: 1rem;
  min-width: 25%;
  border-radius: 8px 0 0 8px;
}
.profile .information .trackers {
  background: rgb(46, 46, 46);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  flex-grow: 1;
  border-radius: 0 8px 8px 0;
}
.profile .information .trackers .tracker {
  display: flex;
  justify-content: space-between;
}
.profile .information .trackers .tracker * {
  margin: 0;
}
.profile .information .trackers .tracker a {
  color: white;
  text-decoration: none;
}
@media (max-width: 550px) {
  .profile .information {
    flex-direction: column;
  }
  .profile .information .introduction {
    border-radius: 8px 8px 0 0;
  }
  .profile .information .trackers {
    border-radius: 0 0 8px 8px;
  }
}

.navbar-nav a,
.navbar-collapse a,
.level * a,
div.level-overview a {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  transition-duration: 0.2s;
}

a.nav {
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  padding: 0.15rem;
}

a:hover {
  /*background-color: rgb(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);*/
  text-decoration: underline;
}

#root {
  min-height: 100vh;
}

.table-container {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
}

.log-in {
  background-color: white;
  color: black;
  align-self: center;
  border-radius: 10px !important;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #202020;
}

::-webkit-scrollbar-thumb {
  background-color: #b63a3a;
}

.pack-ref {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.4rem 0;
  background: linear-gradient(to left, #ebebeb 40%, #c5c5c5 60%) right;
  background-size: 200%, 100%;
  border-radius: 5px;
  box-shadow: 0 3px rgb(126, 126, 126);
  color: black;
  font-weight: 500;
  -webkit-user-drag: none;
  transition-duration: 0.3s;
}

.pack-ref:hover {
  background-position: left;
  text-decoration: none;
  transition-duration: 0.15s;
}

.pack-ref:active {
  transform: translateY(3px);
  box-shadow: none;
}

.submission-ref {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  box-shadow: 0 3px rgb(126, 126, 126);
  color: black;
  transition-duration: 0.2s;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  -webkit-user-drag: none;
}
.submission-ref * {
  text-align: center;
  padding: 0.5rem 0.5rem;
  width: 12%;
  margin: 0;
  font-weight: 500;
  transition-duration: 0.2s;
}
.submission-ref .rating {
  background-color: #dadada;
  border-radius: 5px 0 0 5px;
}
.submission-ref .enjoyment {
  background-color: #dadada;
}
.submission-ref .name {
  color: black;
  flex-grow: 1;
  text-align: start;
}

.submission-ref:hover {
  transform: translate(0, -4px);
  cursor: pointer;
}
.submission-ref:hover a {
  text-decoration: none;
}

.submission-ref:active {
  transform: translate(0, -1px);
  box-shadow: none;
}

button {
  transition: all 0.2s ease-in-out;
}
button.danger {
  background: none;
  color: white;
  border: 3px solid #870000;
}
button.danger:hover:not(:active) {
  background-color: #540000;
  transform: scale(1.1);
}

.underline {
  background: radial-gradient(circle at center, white 0%, white 100%) no-repeat;
  background-size: 0 2px;
  background-position: 50% 100%;
  transition: background-size 100ms ease-in-out;
  padding: 0;
  text-decoration: none !important;
}
.underline:hover {
  background-size: 100% 2px;
}

input:not([type=radio]):not([type=checkbox]),
.style-input,
select {
  outline: none;
  background: rgba(0, 0, 0, 0.132);
  color: white;
  border: none;
  caret-color: white;
  transition: ease-in-out;
  transition-duration: 200ms;
  border-bottom: 2px solid white;
  height: 28px;
}

input[type=text] {
  background: rgba(0, 0, 0, 0.132);
  border: none;
  border-radius: 0;
  padding: 0.4rem 1rem;
  display: block;
  width: 100%;
  color: white;
}
input[type=text]:focus {
  border-bottom: 2px solid white;
  background: rgba(0, 0, 0, 0.295);
  caret-color: white;
  box-shadow: 0 0 30px 5px rgba(182, 58, 58, 0.2);
}

input[type=checkbox],
input[type=radio] {
  appearance: none;
  margin: 0;
  color: currentColor;
  width: 16px;
  height: 16px;
  border: 1px solid currentColor;
  display: grid;
  place-content: center;
}
input[type=checkbox]:checked::before,
input[type=radio]:checked::before {
  transform: scale(1);
}
input[type=checkbox]::before,
input[type=radio]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem currentColor;
}

.custom-select {
  cursor: pointer;
  text-indent: 0.5rem;
  position: relative;
}
.custom-select .select-options {
  top: 28px;
  overflow: hidden;
  position: absolute;
  text-indent: 0;
  transition: max-height 200ms ease-in-out;
  max-height: 0;
}
.custom-select .select-options > p {
  margin: 0;
  padding: 0.125rem 0.5rem;
  background: rgb(95, 28, 28);
  transition: filter 200ms;
}
.custom-select .select-options > p:hover {
  filter: brightness(90%);
  cursor: pointer;
}
.custom-select .select-options.open, .custom-select .select-options.opening {
  max-height: 200px;
}
.custom-select .select-options.open {
  overflow: auto;
}

button {
  outline: none;
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a0505;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.a {
  border-radius: 13px;
  font-weight: 500;
  border: none;
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: black;
}

/*# sourceMappingURL=styles.css.map */
