@use 'Colors';
@use 'Container';
@use 'Header';
@use 'Padding';
@use 'ListLevel';
@use 'List';
@use 'FilterMenu';
@use 'References';
@use 'Profile';
@use 'Root';
@use 'LevelOverview';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: Colors.$background;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.a {
    border-radius: 13px;
    font-weight: 500;
    border: none;
    padding: 0.25rem 0.5rem;
    background-color: white;
    color: black;
}

header {
    margin-bottom: 1.5rem;
}

.tg-primary {
    color: Colors.$primary;
}

.gddl-bg-secondary {
    background-color: #82A3A1;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #202020;
}

::-webkit-scrollbar-thumb {
    background-color: Colors.$primary;
}