@use 'Colors';
@use 'Container';
@use 'Header';
@use 'ListLevel';
@use 'List';
@use 'FilterMenu';
@use 'References';
@use 'Root';
@use 'LevelOverview';
@use 'Login';
@use 'Scrollbar';
@use 'Utils';
@use 'Input';
@use 'Mod';
@use 'Modal';
@use 'Tabs';
@use 'themes';

@use 'components/components';

body {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include themes.themed() {
        background-color: themes.t('bg');
    }
}

#root {
    @include themes.themed() {
        color: themes.t('text');
    }
}

.navbar-toggler {  // Removes the stupid 1px border around the navbar toggler
    border: none;
}

.cmodal {
    .body {
        .search-result {
            z-index: 1050;
        }
    }
}

@media(max-width:600px) {
    :root {
        font-size: 14px;
    }
}

$divider-sizes: (
    "sm": 0.5rem,
    "md": 1rem,
    "lg": 1.5rem
);
@each $name, $size in $divider-sizes {
    .divider-#{$name} {
        border-bottom: 1px solid white;
        margin-top: $size;
        margin-bottom: $size;
    }
}

.divider {
    border-bottom: 1px solid white;
}