@use 'Colors';
@use 'Container';
@use 'Header';
@use 'Padding';
@use 'ListLevel';
@use 'List';
@use 'FilterMenu';
@use 'References';
@use 'Profile';
@use 'Root';
@use 'LevelOverview';
@use 'Login';
@use 'Scrollbar';
@use 'PackRef';
@use 'Utils';

body {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: Colors.$background;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.a {
    border-radius: 13px;
    font-weight: 500;
    border: none;
    padding: 0.25rem 0.5rem;
    background-color: white;
    color: black;
}

input:not([type="radio"]),
.style-input,
select {
    outline: none;
    background: Colors.$input-bg;
    color: white;
    border: none;
    caret-color: white;
    transition: ease-in-out;
    transition-duration: 200ms;
    border-bottom: 2px solid white;
    height: 28px;
}

.custom-select {
    cursor: pointer;
    text-indent: 0.5rem;
    position: relative;

    .select-options {
        top: 28px;
        overflow: hidden;
        position: absolute;
        text-indent: 0;

        & > p {
            margin: 0;
            padding: 0.125rem 0.5rem;
            background: Colors.$select-bg;
            transition: filter 200ms;

            &:hover {
                filter: brightness(90%);
                cursor: pointer;
            }
        }

        transition: max-height 200ms ease-in-out;
        max-height: 0;
        &.open,
        &.opening {
            max-height: 200px;
        }

        &.open {
            overflow: auto;
        }
    }
}