button {
    transition: all 0.2s ease-in-out;

    &.danger {
        background: none;
        color: white;
        border: 3px solid #870000;
        //border-radius: 3px;

        &:hover:not(:active) {
            background-color: #540000;
            transform: scale(1.1);
        }
    }
}

@mixin underline {
    background: radial-gradient(circle at center, white 0%, white 100%) no-repeat;
    background-size: 0 2px;
    background-position: 50% 100%;
    transition: background-size 100ms ease-in-out;
    padding: 0;
    text-decoration: none!important;

    &:hover {
        background-size: 100% 2px;
    }
}

.underline {
    @include underline;
}