@use 'utils/Button';
@use 'utils/Text';
@use 'utils/Width';
@use 'utils/Cursor';
@use 'utils/FontSize';
@use 'utils/Information';

@mixin underline {
    background: radial-gradient(circle at center, currentColor 0%, currentColor 100%) no-repeat;
    background-size: 0 2px;
    background-position: 50% 100%;
    transition: background-size 100ms ease-in-out;
    padding: 0;
    text-decoration: none!important;

    &:hover {
        background-size: 100% 2px;
    }
}

@mixin glow {
    text-shadow: 0 0 3px currentColor;
}

.underline {
    @include underline;
}
.underline-p {
    @include underline;
    border: none;
    color: white;
}

.bg-fade {
    animation: bg-fade 1s;
}
@keyframes bg-fade {
    from {
        background-color: white;
    }
    to {
        background-color: transparent;
    }
}

$divider-sizes: (
    "sm": 0.5rem,
    "md": 1rem,
    "lg": 1.5rem
);
@each $name, $size in $divider-sizes {
    .divider-#{$name} {
        border-bottom: 1px solid white;
        margin-top: $size;
        margin-bottom: $size;
    }
}

$b-radius: 5px;

.errorElement {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        text-align: center;
    }

    // text-center mt-5
}