.bg-gddl {
    background-color: var(--gddl-primary-color);
}

a.btn-hover {
    background-color: var(--gddl-primary-color);
    color: black;
    text-decoration: none;
}

.btn-hover:hover {
    background-color: var(--gddl-middle-color);
    color: white;
}

.topnav {
    overflow: hidden;
    list-style-type: none;
}

.topnav a {
    float: left;
    display: block;
    text-decoration: none;
    border: none;
    border-radius: 0;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 650px) {
    .topnav a:not(:first-child) { display: none; }
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 650px) {
    .topnav.responsive { position: relative; }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
    }

    .topnav.responsive a {
        display: block;
        text-align: left;
    }
}

.title {
    color: black;
    font-weight: bolder;
    font-size: 1.75rem;
}