body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gddl-background-color: #191716;
  --gddl-primary-color: #EFA51C;
  background-color: var(--gddl-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.a {
  border-radius: 13px;
  font-weight: 500;
  border: none;
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: black;
}

header {
  margin-bottom: 1.5rem;
}

.tg-primary {
  color: var(--gddl-primary-color);
}