body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gddl-background-color: #0B3011;
  --gddl-primary-color: #5ADE4D;
  --gddl-middle-color: #82A3A1;
  background-color: var(--gddl-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.a {
  border-radius: 13px;
  font-weight: 500;
  border: none;
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: black;
}

header {
  margin-bottom: 1.5rem;
}

.tg-primary {
  color: var(--gddl-primary-color);
}

.gddl-bg-secondary {
  background-color: #82A3A1;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #202020;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gddl-primary-color);
}