@use './sass/Colors';

@tailwind base;
@tailwind components;
@tailwind utilities;

.underline {
    background: radial-gradient(circle at center, currentColor 0%, currentColor 100%) no-repeat;
    background-size: 0 2px;
    background-position: 50% 100%;
    transition: background-size 100ms ease-in-out;
    padding: 0;
    text-decoration: none!important;

    &:hover {
        background-size: 100% 2px;
    }
}

.divider {
    border-bottom: 1px solid white;
}

.level-list > div:nth-child(2n) {
    @apply bg-gray-700;
}

input[type=number].no-spinner {
    -moz-appearance: textfield;
}
input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bg-fade {
    animation: bg-fade 1s;
}
@keyframes bg-fade {
    from {
        background-color: white;
    }
    to {
        background-color: transparent;
    }
}