@use 'sass:list';
@use 'sass:color';

$informationTypes: (
    'warning': (
        rgb(69, 69, 16),
        rgb(243, 243, 39),
    ),
    'success': (
        rgb(29, 63, 23),
        rgb(103, 242, 78),
    ),
);

@each $type, $data in $informationTypes {
    .information.#{$type} {
        margin: 1rem 0.2rem;
        padding: 0.5rem 0;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;

        background-color: list.nth($data, 1);
        color: list.nth($data, 2);
        border: 1px adjust-color($color: list.nth($data, 2), $lightness: -20%) solid;
    }
}