@use 'Breakpoints';

$sizes: (
    '25': 25%,
    '35': 35%,
    '50': 50%,
    '75': 75%,
    '100': 100%
);

@each $name, $breakpointSize in Breakpoints.$breaks {
    @media(min-width: $breakpointSize) {
            @each $size, $percent in $sizes {
            .w-#{$name}-#{$size} {
                width: #{$percent}!important;
            }
        }
    }
}