@theme {
    --theme-black-400: hsl(0, 0%, 50%);
    --theme-black-500: hsl(0, 0%, 16%);
    --theme-black-600: hsl(0, 0%, 12%);
    --theme-black-700: hsl(0, 0%, 8%);
    --theme-black-800: hsl(0, 0%, 4%);
    --theme-black-900: hsl(0, 0%, 0%);
    --theme-black-950: #000000;

    --theme-black-header: #000000;
    --theme-black-header-text: #ffffff;

    --theme-black-bg-from: var(--theme-black-800);
    --theme-black-bg-to: var(--theme-black-800);
    --theme-black-text: #ffffff;
    --theme-black-outline: #5a5a5a;

    --theme-black-footer: #000000;
    --theme-black-footer-text: #ffffff;
}

[data-theme='black'] {
    --color-theme-400: var(--theme-black-400);
    --color-theme-500: var(--theme-black-500);
    --color-theme-600: var(--theme-black-600);
    --color-theme-700: var(--theme-black-700);
    --color-theme-800: var(--theme-black-800);
    --color-theme-900: var(--theme-black-900);
    --color-theme-950: var(--theme-black-950);

    --color-theme-header: var(--theme-black-header);
    --color-theme-header-text: var(--theme-black-text);

    --color-theme-bg-from: var(--theme-black-bg-from);
    --color-theme-bg-to: var(--theme-black-bg-to);
    --color-theme-text: var(--theme-black-text);
    --color-theme-outline: var(--theme-black-outline);

    --color-theme-footer: var(--theme-black-footer);
    --color-theme-footer-text: var(--theme-black-footer-text);
}
