@theme {
    --blue-theme-400: #7b8f9e;
    --blue-theme-500: #89e3ff;
    --blue-theme-600: #8ed9ff;
    --blue-theme-700: #69c6f8;
    --blue-theme-800: #4bbcf3;
    --blue-theme-900: #3ba5da;
    --blue-theme-950: #2b8ec0;
    --blue-primary: #61ddff;
    --blue-from: var(--blue-theme-800);
    --blue-to: var(--blue-theme-950);
    --blue-text: rgb(27, 25, 25);
}

[data-theme="blue"] {
    --theme-gradient-angle: 135deg;
    --theme-gradient-from: var(--blue-from);
    --theme-gradient-to: var(--blue-to);
    
    --color-theme-400: var(--blue-theme-400);
    --color-theme-500: var(--blue-theme-500);
    --color-theme-600: var(--blue-theme-600);
    --color-theme-700: var(--blue-theme-700);
    --color-theme-800: var(--blue-theme-800);
    --color-theme-900: var(--blue-theme-900);
    --color-theme-950: var(--blue-theme-950);
    --color-theme-primary: var(--blue-primary);
    color: var(--blue-text);
}
