@theme {
    --culob-theme-500: #f897de;
    --culob-theme-600: #f897de;
    --culob-theme-700: #f2af29;
    --culob-theme-800: #fc440f;
    --culob-theme-900: #a3e7fc;
    --culob-theme-950: #175676;
    --culob-primary: #873d48;
    --culob-from: var(--culob-theme-800);
    --culob-to: var(--culob-theme-950);
    --culob-text: rgb(27, 25, 25);
}

[data-theme="culob"] {
    --theme-gradient-angle: 135deg;
    --theme-gradient-from: var(--culob-from);
    --theme-gradient-to: var(--culob-to);
    
    --color-theme-400: var(--culob-theme-400);
    --color-theme-500: var(--culob-theme-500);
    --color-theme-600: var(--culob-theme-600);
    --color-theme-700: var(--culob-theme-700);
    --color-theme-800: var(--culob-theme-800);
    --color-theme-900: var(--culob-theme-900);
    --color-theme-950: var(--culob-theme-950);
    --color-theme-primary: var(--culob-primary);
    color: var(--culob-text);
}
