@theme {
    --theme-june-500: #f897de;
    --theme-june-600: #ff7cdc;
    --theme-june-700: #f897de;
    --theme-june-800: #f897de;
    --theme-june-900: #f897de;
    --theme-june-950: #ff73da;

    --theme-june-header: #f080d2;

    --theme-june-bg-from: var(--theme-june-800);
    --theme-june-bg-to: var(--theme-june-950);
    --theme-june-text: rgb(27, 25, 25);
    --theme-june-outline: #e534eb;

    --theme-june-footer: var(--theme-june-950);
}

[data-theme='june'] {
    --color-theme-400: var(--theme-june-400);
    --color-theme-500: var(--theme-june-500);
    --color-theme-600: var(--theme-june-600);
    --color-theme-700: var(--theme-june-700);
    --color-theme-800: var(--theme-june-800);
    --color-theme-900: var(--theme-june-900);
    --color-theme-950: var(--theme-june-950);

    --color-theme-header: var(--theme-june-header);
    --color-theme-header-text: var(--theme-june-text);

    --color-theme-bg-from: var(--theme-june-bg-from);
    --color-theme-bg-to: var(--theme-june-bg-to);
    --color-theme-text: var(--theme-june-text);
    --color-theme-outline: var(--theme-june-outline);

    --color-theme-footer: var(--theme-june-footer);
    --color-theme-footer-text: var(--theme-june-footer-text);
}
