@theme {
    --theme-midnight-400: #8181b3;
    --theme-midnight-500: #2f2950;
    --theme-midnight-600: #282442;
    --theme-midnight-700: #1d1936;
    --theme-midnight-800: #131122;
    --theme-midnight-900: #0a0913;
    --theme-midnight-950: #000000;

    --theme-midnight-header: #13092c;

    --theme-midnight-bg-from: var(--theme-midnight-800);
    --theme-midnight-bg-to: var(--theme-midnight-950);
    --theme-midnight-text: white;
    --theme-midnight-outline: #5a5a5a;

    --theme-midnight-footer: var(--theme-midnight-900);
    --theme-midnight-footer-text: #ffffff;
}

[data-theme="midnight"] {
    --color-theme-400: var(--theme-midnight-400);
    --color-theme-500: var(--theme-midnight-500);
    --color-theme-600: var(--theme-midnight-600);
    --color-theme-700: var(--theme-midnight-700);
    --color-theme-800: var(--theme-midnight-800);
    --color-theme-900: var(--theme-midnight-900);
    --color-theme-950: var(--theme-midnight-950);

    --color-theme-header: var(--theme-midnight-header);
    --color-theme-header-text: var(--theme-midnight-text);

    --color-theme-bg-from: var(--theme-midnight-bg-from);
    --color-theme-bg-to: var(--theme-midnight-bg-to);
    --color-theme-text: var(--theme-midnight-text);
    --color-theme-outline: var(--theme-midnight-outline);

    --color-theme-footer: var(--theme-midnight-footer);
    --color-theme-footer-text: var(--theme-midnight-footer-text);
}
