@theme {
    --theme-rfmx-400: #adbbc5;
    --theme-rfmx-500: #89e3ff;
    --theme-rfmx-600: #707070;
    --theme-rfmx-700: #707070;
    --theme-rfmx-800: #707070;
    --theme-rfmx-900: #707070;
    --theme-rfmx-950: #ffb52c;

    --theme-rfmx-header: #ffb52c;
    --theme-rfmx-header-text: black;
    
    --theme-rfmx-bg-from: #dbe8ff;
    --theme-rfmx-bg-to: #dbe8ff;
    --theme-rfmx-text: white;
    --theme-rfmx-outline: #0000;

    --theme-rfmx-footer: var(--theme-rfmx-900);
    --theme-rfmx-footer-text: white;
}

[data-theme="rfmx"] {
    --color-theme-400: var(--theme-rfmx-400);
    --color-theme-500: var(--theme-rfmx-500);
    --color-theme-600: var(--theme-rfmx-600);
    --color-theme-700: var(--theme-rfmx-700);
    --color-theme-800: var(--theme-rfmx-800);
    --color-theme-900: var(--theme-rfmx-900);
    --color-theme-950: var(--theme-rfmx-950);

    --color-theme-header: var(--theme-rfmx-header);
    --color-theme-header-text: var(--theme-rfmx-header-text);

    --color-theme-bg-from: var(--theme-rfmx-bg-from);
    --color-theme-bg-to: var(--theme-rfmx-bg-to);
    --color-theme-text: var(--theme-rfmx-text);
    --color-theme-outline: var(--theme-rfmx-outline);

    --color-theme-footer: var(--theme-rfmx-footer);
    --color-theme-footer-text: var(--theme-rfmx-footer-text);
}
