@theme {
    --rfmx-theme-400: #adbbc5;
    --rfmx-theme-500: #89e3ff;
    --rfmx-theme-600: #707070;
    --rfmx-theme-700: #707070;
    --rfmx-theme-800: #707070;
    --rfmx-theme-900: #707070;
    --rfmx-theme-950: #ffb52c;
    --rfmx-primary: #ffb52c;
    --rfmx-primary-text: black;
    --rfmx-from: #dbe8ff;
    --rfmx-to: #dbe8ff;
    --rfmx-text: rgb(255, 255, 255);
}

[data-theme="rfmx"] {
    --theme-gradient-angle: 135deg;
    --theme-gradient-from: var(--rfmx-from);
    --theme-gradient-to: var(--rfmx-to);
    --theme-primary-text: var(--rfmx-primary-text);
    
    --color-theme-400: var(--rfmx-theme-400);
    --color-theme-500: var(--rfmx-theme-500);
    --color-theme-600: var(--rfmx-theme-600);
    --color-theme-700: var(--rfmx-theme-700);
    --color-theme-800: var(--rfmx-theme-800);
    --color-theme-900: var(--rfmx-theme-900);
    --color-theme-950: var(--rfmx-theme-950);
    --color-theme-primary: var(--rfmx-primary);
    color: var(--rfmx-text);
}
