@theme {
    --white-theme-400: hsl(0, 0%, 50%);
    --white-theme-500: hsl(0, 0%, 88%);
    --white-theme-600: hsl(0, 0%, 91%);
    --white-theme-700: hsl(0, 0%, 94%);
    --white-theme-800: hsl(0, 0%, 97%);
    --white-theme-900: hsl(0, 0%, 100%);
    --white-theme-950: #ffffff;
    --white-primary: #ffffff;
    --white-from: var(--white-theme-800);
    --white-to: var(--white-theme-950);
    --white-text: #000000;
}

[data-theme="white"] {
    --theme-gradient-angle: 135deg;
    --theme-gradient-from: var(--white-from);
    --theme-gradient-to: var(--white-to);
    
    --color-theme-400: var(--white-theme-400);
    --color-theme-500: var(--white-theme-500);
    --color-theme-600: var(--white-theme-600);
    --color-theme-700: var(--white-theme-700);
    --color-theme-800: var(--white-theme-800);
    --color-theme-900: var(--white-theme-900);
    --color-theme-950: var(--white-theme-950);
    --color-theme-primary: var(--white-primary);
    color: var(--white-text);
    --color-theme-outline: rgb(163, 163, 163);
}
