@use '../Colors';
@use '../themes';

.save-dialogue {
    position: fixed;
    opacity: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1.5rem 2rem;
    pointer-events: none;

    @include themes.themed() {
        background-color: themes.t('bg-light');
    }

    transition: transform 200ms ease-in, opacity 200ms ease-in;

    &.show {
        transform: translate(-50%, -30px);
        opacity: 1;
        pointer-events: all;
    }

    .header {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .wrapper {
        display: flex;
        gap: 1rem;
    }

    button {
        min-width: 100px;
        min-height: 40px;
    }
}