table {
    width: 100%;
}

.table-container {
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    font-size: 1.5rem;
}

td {
    padding: 0.5rem;
    border: 1px white solid;
}