.filled-button {
    --container-color: var(--color-primary);
    --container-opacity: 100%;
    background-color: color-mix(in oklab, var(--container-color) var(--container-opacity), transparent);

    --label-color: var(--color-on-primary);
    --label-opacity: 100%;
    color: color-mix(in oklab, var(--label-color) var(--label-opacity), transparent);

    --font-size: 1rem;
    font-size: var(--font-size);

    --layer-color: var(--color-primary);
    --layer-opacity: 0%;

    position: relative;

    --height: 40px;
    height: var(--height);

    --padding: 16px;
    padding: 0 var(--padding);
    --border-radius: calc(var(--height) / 2);
    border-radius: var(--border-radius);

    --elevation: 0px;

    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.42, 1.67, 0.21, 0.9);
}

.filled-button.xs {
    --height: 32px;
    --padding: 12px;
}
.filled-button.sm {
    --font-size: 14pt;
}
.filled-button.md {
    --height: 56px;
    --padding: 24px;
    --font-size: 16pt;
}
.filled-button.lg {
    --height: 96px;
    --padding: 48px;
    --font-size: 24pt;
}
.filled-button.xl {
    --height: 136px;
    --padding: 64px;
    --font-size: 32pt;
}

.filled-button::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.42, 1.67, 0.21, 0.9);

    border-radius: var(--border-radius);
    background-color: color-mix(in oklab, var(--layer-color) var(--layer-opacity), transparent);
}

.filled-button:focus-visible,
.filled-button.focused {
    outline: 3px solid var(--primary);
    outline-offset: 2px;
}

.filled-button:disabled {
    --container-color: var(--color-on-surface);
    --container-opacity: 10%;
    --label-color: var(--color-on-surface);
    --label-opacity: 38%;
    pointer-events: none;
}

.filled-button:hover,
.filled-button.hovered {
    --layer-color: var(--color-on-primary);
    --layer-opacity: 8%;
    --elevation: 1px;
}

.filled-button:active,
.filled-button.pressed {
    --layer-color: var(--color-on-primary);
    --layer-opacity: 10%;
    --border-radius: 12px;
    --elevation: 0px;
}
