.segmented-button-group {
    display: flex;
}

/* Enabled */
.segmented-button-group button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--sys-outline);

    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
    color: var(--on-surface);

    --layer-opacity: 0%;
    --layer-color: var(--on-surface);

    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.42, 1.67, 0.21, 0.9);
}
.segmented-button-group button.first {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.segmented-button-group button.last {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.segmented-button-group button.selected {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
}

/* State layer */
.segmented-button-group button::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0;

    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.42, 1.67, 0.21, 0.9);

    background-color: var(--layer-color);
    opacity: var(--layer-opacity);
}
.segmented-button-group button.first::after {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.segmented-button-group button.last::after {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Disabled */
.segmented-button-group button:disabled {
    border-color: color-mix(in oklab, var(--on-surface) 10%, transparent);
    color: color-mix(in oklab, var(--on-surface) 38%, transparent);
}

/* Hover */
.segmented-button-group button:hover {
    --layer-opacity: 8%;
}
.segmented-button-group button.selected:hover {
    --layer-color: var(--on-secondary-container);
}

/* Focused */
.segmented-button-group button:focus-visible {
    outline: 3px solid var(--secondary);
    outline-offset: 2px;
    --layer-opacity: 10%;
}
.segmented-button-group button.selected:focus-visible {
    color: var(--on-secondary-container);
    --layer-color: var(--on-secondary-container);
}

/* Pressed */
.segmented-button-group button:active {
    --layer-opacity: 10%;
}
.segmented-button-group button.selected:active {
    color: var(--on-secondary-container);
    --layer-color: var(--on-secondary-container);
}
