.segmented-button-group {
    display: flex;
    gap: 2px;

    /* Enabled */
    & button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0 20px;
        height: 32px;
        border-radius: 4px;

        transition: var(--fast-spatial-transition);

        --container-color: var(--color-secondary);
        --container-opacity: 100%;
        background-color: color-mix(in oklab, var(--container-color) var(--container-opacity), transparent);

        --label-color: var(--color-on-secondary);
        --label-opacity: 100%;
        color: color-mix(in oklab, var(--label-color) var(--label-opacity), transparent);

        --state-color: var(--color-on-surface-variant);
        --state-opacity: 0%;

        .round &:not(.selected) {
            &.first {
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
            }
            &.last {
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        }

        /* State layer */
        &::before {
            content: '';
            display: block;
            position: absolute;
            pointer-events: none;
            inset: 0;
            border-radius: inherit;

            transition: inherit;

            background-color: var(--state-color);
            opacity: var(--state-opacity);
        }

        &.selected,
        &:active {
            border-radius: 32px;
            --container-color: var(--color-secondary-container);
            --label-color: var(--color-on-secondary-container);
        }
    }
}

/* Disabled */
.segmented-button-group button:disabled {
    border-color: color-mix(in oklab, var(--color-on-surface) 10%, transparent);
    color: color-mix(in oklab, var(--color-on-surface) 38%, transparent);
}

/* Hover */
.segmented-button-group button:hover {
    --layer-opacity: 8%;
}
.segmented-button-group button.selected:hover {
    --layer-color: var(--color-on-secondary-container);
}

/* Focused */
.segmented-button-group button:focus-visible {
    outline: 3px solid var(--color-secondary);
    outline-offset: 2px;
    --layer-opacity: 10%;
}
.segmented-button-group button.selected:focus-visible {
    color: var(--color-on-secondary-container);
    --layer-color: var(--color-on-secondary-container);
}

/* Pressed */
.segmented-button-group button:active {
    --layer-opacity: 10%;
}
.segmented-button-group button.selected:active {
    color: var(--color-on-secondary-container);
    --layer-color: var(--color-on-secondary-container);
}
