button.list {
    --list-button-radius: 6px;
    border: 1px solid buttonface;
    padding: 0.4rem 0.6rem;
}

button.list.active {
    --active-color: rgb(197, 197, 197);
    background-color: var(--active-color);
    border-color: var(--active-color);
}

.view-left {
    border-top-left-radius: var(--list-button-radius);
    border-bottom-left-radius: var(--list-button-radius);
}

.view-right {
    border-top-right-radius: var(--list-button-radius);
    border-bottom-right-radius: var(--list-button-radius);
}

.list-options .btn {
    border-radius: 10px;
}

.page-scroller {
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.5rem;
    transition-duration: 0.1s;
}

.page-scroller:hover {
    transform: scale(1.1);
}
.page-scroller:active {
    transform: scale(1.15);
}

.page-scroller img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(65deg) brightness(104%) contrast(104%);  /* Makes the arrows white */
}