.level {
    border: 1px #998888 solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.level.head {
    border-top: none;
    border-bottom: solid;
}

.level h3 {
    font-weight: 350;
}




.fadeIn {
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    0% { opacity: 0%;}
    100% { opacity: 100%;}
}

.sortMenu {
    position: absolute;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 0;
}

.sortMenu .divider {
    height: 0;
    margin: 0.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.175);
    opacity: 1;
}

.sortMenu .option:hover {
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
}

.sortMenu .option * {
    cursor: pointer;
}

.sortMenu .option label {
    margin: 0;
    padding: 0.75rem;
}



.pageScroller {
    background: none;
    color: white;
    border: 2px solid white;
    font-size: 1.5rem;
    transition-duration: 0.1s;
}

.pageScroller:hover {
    transform: scale(1.1);
}
.pageScroller:active {
    transform: scale(1.15);
}

.pageScroller img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(65deg) brightness(104%) contrast(104%);
}