@import "tailwindcss";
@import "./styles/colors.css";
@import "./styles/themes.css";

button {
    cursor: pointer;
}

@custom-variant round {
    .round & {
        @slot;
    }
}

@custom-variant serif {
    &[data-font="serif"] {
        @slot;
    }
}

@custom-variant mono {
    &[data-font="mono"] {
        @slot;
    }
}

@theme {
    --font-outfit: 'Outfit', 'Montserrat', 'sans-serif';
    --font-gddl-serif: 'Noto Serif', 'Merriweather', 'serif';

    --color-primary: #EFA51C;
    --color-secondary: #1a1a1a;
    --color-header-200: #ffc530;

    --color-gray-500: #4d4d4d;
    --color-gray-600: #454545;
    --color-gray-700: #353535;
    --color-gray-800: #2b2b2b;
    --color-gray-900: #262626;
    --color-gray-950: #1a1a1a;
    
    --color-button-primary-1: #2c6cd4;
    --color-button-primary-2: #225bb8;
    --color-button-primary-3: #184a99;

    --color-button-info-1: #47cc6b;
    --color-button-info-2: #3dba5f;
    --color-button-info-3: #32a852;

    --color-button-secondary-1: #929292;
    --color-button-secondary-2: #797979;
    --color-button-secondary-3: #666666;

    --color-button-danger-1: #b50000;
    --color-button-danger-2: #9b0000;
    --color-button-danger-3: #8e0000;

    --color-button-discord-primary: #5865f2;
    --color-button-discord-hover: #4752c4;
    --color-button-discord-active: #3c45a5;

    --color-permission-0: white;
    --color-permission-1: #92ffa3;
    --color-permission-2: #cf9cff;
    --color-permission-3: #71ffcb;
    --color-permission-4: #efa51c;
    --color-permission-5: #efa51c;
    --color-permission-6: #ffef01;

    --color-role-admin: #958269;
    --color-role-moderator: #71ffcb;
    --color-role-developer: #cf9cff;
    --color-role-listHelper: #9bff99;
}

body, #root, #root > div.flex {
    min-height: 100vh;
}

.underline {
    background: radial-gradient(circle at center, currentColor 0%, currentColor 100%) no-repeat;
    background-size: 0 2px;
    background-position: 50% 100%;
    transition: background-size 100ms ease-in-out;
    /*padding: 0;*/
    text-decoration: none!important;
}
.underline:hover {
    background-size: 100% 2px;
}

.underline-t {
    text-decoration: underline;
}

.divider {
    border-bottom: 1px solid currentColor;
}

input[type=number].no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
}
input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bg-fade {
    animation: bg-fade 1s;
}
@keyframes bg-fade {
    from {
        background-color: white;
    }
    to {
        background-color: transparent;
    }
}

label:has(> input[type=checkbox]:disabled) {
    @apply text-gray-400 line-through;
}

html.inverted {
    filter: invert(100%);
}
