.tonal-button {
    --container-color: var(--secondary-container);
    --container-opacity: 100%;
    background-color: color-mix(in oklab, var(--container-color) var(--container-opacity), transparent);

    --label-color: var(--on-secondary-container);
    --label-opacity: 100%;
    color: color-mix(in oklab, var(--label-color) var(--label-opacity), transparent);

    --layer-color: var(--on-secondary-container);
    --layer-opacity: 0%;

    position: relative;
    
    --height: 40px;
    height: var(--height);
    padding: 0 16px;
    --border-radius: calc(var(--height) / 2);
    border-radius: var(--border-radius);
    
    --elevation: 0px;

    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.42, 1.67, 0.21, 0.9);
}

.tonal-button::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.42, 1.67, 0.21, 0.9);

    border-radius: var(--border-radius);
    background-color: color-mix(in oklab, var(--layer-color) var(--layer-opacity), transparent);
}

.tonal-button:disabled {
    --container-color: var(--on-surface);
    --container-opacity: 10%;
    --label-color: var(--on-surface);
    --label-opacity: 38%;
    pointer-events: none;
}

.tonal-button:hover {
    --layer-color: var(--on-secondary-container);
    --layer-opacity: 8%;
    --label-color: var(--on-secondary-container);
    --elevation: 1px;
}

.tonal-button:focus-visible {
    --layer-color: var(--on-secondary-container);
    --layer-opacity: 10%;
    --label-color: var(--on-secondary-container);
    outline: 3px solid var(--primary);
    outline-offset: 2px;
}

.tonal-button:active {
    --layer-color: var(--on-secondary-container);
    --layer-opacity: 10%;
    --border-radius: 12px;
    --elevation: 0px;
}
