.tonal-button {
    position: relative;
    display: flex;
    align-items: center;
    transition: var(--fast-spatial-transition);

    --container-color: var(--color-secondary-container);
    --container-opacity: 100%;
    background-color: color-mix(in oklab, var(--container-color) var(--container-opacity), transparent);

    --label-color: var(--color-on-secondary-container);
    --label-opacity: 100%;
    color: color-mix(in oklab, var(--label-color) var(--label-opacity), transparent);

    --layer-color: var(--color-on-secondary-container);
    --layer-opacity: 0%;

    &::before {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        inset: 0;

        transition: inherit;

        border-radius: inherit;
        background-color: color-mix(in oklab, var(--layer-color) var(--layer-opacity), transparent);
    }

    &:disabled {
        --container-color: var(--color-on-surface);
        --container-opacity: 10%;
        --label-color: var(--color-on-surface);
        --label-opacity: 38%;
        pointer-events: none;
    }

    &:hover {
        --layer-opacity: 8%;
        box-shadow: 0px 2px 3px black;
    }

    &:focus-visible {
        --layer-opacity: 10%;
        outline: 3px solid var(--color-primary);
        outline-offset: 2px;
    }

    &:active {
        --layer-opacity: 10%;
        --border-radius: 12px;
    }

    /* SIZING */
    &.xs {
        height: 32px;
        border-radius: 12px;
        font-size: 14pt;
        gap: 4px;
        padding: 0px 12px;

        .round & {
            border-radius: 32px;
        }

        &:active,
        &.selected {
            border-radius: 8px;
        }

        & .icon {
            font-size: 20px;
            display: flex;
            align-items: center;
        }
    }

    &.sm {
        height: 40px;
        border-radius: 12px;
        font-size: 14pt;
        gap: 8px;
        padding: 0px 16px;

        .round & {
            border-radius: 40px;
        }

        &:active,
        &.selected {
            border-radius: 8px;
        }

        & .icon {
            font-size: 20px;
            display: flex;
            align-items: center;
        }
    }

    &.md {
        height: 56px;
        border-radius: 16px;
        font-size: 16pt;
        gap: 8px;
        padding: 0px 16px;

        .round & {
            border-radius: 56px;
        }

        &:active,
        &.selected {
            border-radius: 12px;
        }

        & .icon {
            font-size: 24px;
            display: flex;
            align-items: center;
        }
    }

    &.lg {
        height: 96px;
        border-radius: 28px;
        font-size: 24pt;
        gap: 12px;
        padding: 0px 48px;

        .round & {
            border-radius: 96px;
        }

        &:active,
        &.selected {
            border-radius: 12px;
        }

        & .icon {
            font-size: 32px;
            display: flex;
            align-items: center;
        }
    }

    &.xl {
        height: 136px;
        border-radius: 28px;
        font-size: 32pt;
        gap: 16px;
        padding: 0px 48px;

        .round & {
            border-radius: 136px;
        }

        &:active,
        &.selected {
            border-radius: 16px;
        }

        & .icon {
            font-size: 40px;
            display: flex;
            align-items: center;
        }
    }
}
