name: Build

on:
  push:
    branches: ['*']
    paths:
      - 'src/**'
      - 'public/**'
      - '*.json'
      - 'vite.config.ts'
  pull_request:
    branches: ['*']
    paths:
      - 'src/**'
      - 'public/**'
      - '*.json'
      - 'vite.config.ts'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js v24
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: 'npm'

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run ${{ github.ref_name == 'main' && 'build' || 'build:staging'}}
        env:
          VITE_SERVER_URL: ${{ vars.VITE_SERVER_URL }}
          VITE_DISCORD_OAUTH: ${{ vars.VITE_DISCORD_OAUTH }}
          VITE_SESSION_ID_NAME: ${{ vars.VITE_SESSION_ID_NAME }}
          VITE_MAX_TIER: ${{ vars.VITE_MAX_TIER }}
          VITE_MINIMUM_REFRESH_RATE: ${{ vars.VITE_MINIMUM_REFRESH_RATE }}
          VITE_CF_TURNSTILE_SITE_KEY: ${{ vars.VITE_CF_TURNSTILE_SITE_KEY }}
