name: Build

on:
  pull_request:
    branches: ['*']
    paths:
      - 'src/**'
      - 'public/**'
      - '*.json'
      - 'vite.config.ts'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bun install

      - name: Build
        run: bun run ${{ github.ref_name == 'stable' && 'build' || 'build:staging'}}
        env:
          VITE_SERVER_URL: ${{ vars.VITE_SERVER_URL }}
          VITE_DISCORD_OAUTH: ${{ vars.VITE_DISCORD_OAUTH }}
          VITE_SESSION_ID_NAME: ${{ vars.VITE_SESSION_ID_NAME }}
          VITE_MAX_TIER: ${{ vars.VITE_MAX_TIER }}
          VITE_MINIMUM_REFRESH_RATE: ${{ vars.VITE_MINIMUM_REFRESH_RATE }}
          VITE_CF_TURNSTILE_SITE_KEY: ${{ vars.VITE_CF_TURNSTILE_SITE_KEY }}

      - uses: actions/upload-artifact@v6
        with:
          name: build-${{ github.ref_name == 'stable' && 'prod' || 'staging'}}
          path: dist/
