name: Deploy

on:
  workflow_dispatch:
    inputs:
      target:
        description: 'Deployment target (main or beta)'
        required: false
        default: ''
        type: choice
        options:
          - main
          - beta

env:
  target: ${{ inputs.target == 'main' && 'main' || 'beta' }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js v24
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: 'npm'

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run ${{ inputs.target == 'main' && 'build' || 'build:staging'}}
        env:
          VITE_SERVER_URL: ${{ vars.VITE_SERVER_URL }}
          VITE_DISCORD_OAUTH: ${{ vars.VITE_DISCORD_OAUTH }}
          VITE_SESSION_ID_NAME: ${{ vars.VITE_SESSION_ID_NAME }}
          VITE_MAX_TIER: ${{ vars.VITE_MAX_TIER }}
          VITE_MINIMUM_REFRESH_RATE: ${{ vars.VITE_MINIMUM_REFRESH_RATE }}
          VITE_CF_TURNSTILE_SITE_KEY: ${{ vars.VITE_CF_TURNSTILE_SITE_KEY }}

      - name: Prepare SSH key
        run: |
          echo "$SSH_PRIVATE_KEY" > private_key.pem
          chmod 600 private_key.pem
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Delete index.html
        run: |
          ssh -i private_key.pem -o StrictHostKeyChecking=no ubuntu@34.249.48.77 "sudo rm /home/ubuntu/${{ env.target }}/dist/index.html"

      - name: Delete assets
        run: |
          ssh -i private_key.pem -o StrictHostKeyChecking=no ubuntu@34.249.48.77 "sudo rm -rf /home/ubuntu/${{ env.target }}/dist/assets"

      - name: Transfer index.html
        run: |
          scp -i private_key.pem -o StrictHostKeyChecking=no ./dist/index.html ubuntu@34.249.48.77:/home/ubuntu/${{ env.target }}/dist/index.html

      - name: Transfer assets
        run: |
          scp -r -i private_key.pem -o StrictHostKeyChecking=no ./dist/assets ubuntu@34.249.48.77:/home/ubuntu/${{ env.target }}/dist/assets
