name: Deploy beta

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'src/**'
      - 'public/**'
      - '*.json'
      - 'vite.config.ts'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bun install
      - run: bun run build:staging
        env:
          VITE_SERVER_URL: ${{ vars.VITE_SERVER_URL }}
          VITE_DISCORD_OAUTH: ${{ vars.VITE_DISCORD_OAUTH }}
          VITE_SESSION_ID_NAME: ${{ vars.VITE_SESSION_ID_NAME }}
          VITE_MAX_TIER: ${{ vars.VITE_MAX_TIER }}
          VITE_MINIMUM_REFRESH_RATE: ${{ vars.VITE_MINIMUM_REFRESH_RATE }}
          VITE_CF_TURNSTILE_SITE_KEY: ${{ vars.VITE_CF_TURNSTILE_SITE_KEY }}

      - name: Prepare SSH key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > private_key.pem
          chmod 600 private_key.pem

      - run: ssh -o StrictHostKeyChecking=no -i private_key.pem  ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} "rm -rf ~/gddl-beta/dist/assets"
      - run: ssh -o StrictHostKeyChecking=no -i private_key.pem  ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} "rm -rf ~/gddl-beta/dist/index.html"
      - run: scp -o StrictHostKeyChecking=no -i private_key.pem -r ./dist/assets ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:~/gddl-beta/dist/assets
      - run: scp -o StrictHostKeyChecking=no -i private_key.pem -r ./dist/index.html ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:~/gddl-beta/dist/index.html
