name: Deploy

on:
  workflow_dispatch:
    inputs:
      target:
        description: 'Deployment target (main or beta)'
        required: false
        default: ''
        type: choice
        options:
          - main
          - beta

env:
  target: ${{ inputs.target == 'stable' && 'main' || 'beta' }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - uses: actions/download-artifact@v5
        with:
          name: build-${{ github.ref_name == 'stable' && 'prod' || 'staging'}}

      - name: Prepare SSH key
        run: |
          echo "$SSH_PRIVATE_KEY" > private_key.pem
          chmod 600 private_key.pem
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Delete index.html
        run: |
          ssh -i private_key.pem -o StrictHostKeyChecking=no ubuntu@34.249.48.77 "sudo rm /home/ubuntu/${{ env.target }}/dist/index.html"

      - name: Delete assets
        run: |
          ssh -i private_key.pem -o StrictHostKeyChecking=no ubuntu@34.249.48.77 "sudo rm -rf /home/ubuntu/${{ env.target }}/dist/assets"

      - name: Transfer index.html
        run: |
          scp -i private_key.pem -o StrictHostKeyChecking=no ./dist/index.html ubuntu@34.249.48.77:/home/ubuntu/${{ env.target }}/dist/index.html

      - name: Transfer assets
        run: |
          scp -r -i private_key.pem -o StrictHostKeyChecking=no ./dist/assets ubuntu@34.249.48.77:/home/ubuntu/${{ env.target }}/dist/assets
