name: Check linting
env:
  node_version: 24.x

on:
  pull_request:
    paths:
      - '**.jsx?'
      - '**.tsx?'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bun install
      - run: bun run lint
