name: Check linting
env:
  node_version: 24.x

on:
  push:
    branches:
      - '**'
    paths:
      - '**.js'
      - '**.ts'

  pull_request:
    branches:
      - '**'
    paths:
      - '**.js'
      - '**.ts'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Node.js v${{ env.node_version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}
          cache: 'npm'

      - run: npm ci
      - run: npm run lint
